# DataFrame

The object DataFrame of the package pandas represents a table of data. Each column is a Series; the columns share a common index.

In [1]:
# print all the outputs in a cell
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

import pandas as pd

## Create a DataFrame

### From a file

Place the data file in the same folder as the ipynb file. Then, read it as follows:

In [2]:
df=pd.read_csv("students.csv") # this code will try to find students.csv in the same folder as this .ipynb file

In [3]:
df

         Name   hw1   hw2 program
0    Demetria   2.0   4.0    MSIS
1      Dorian  10.0  10.0    MSIS
2     Garland   9.0   1.0    MSIS
3   Iluminada   2.0   NaN     MBA
4    Jeannine   6.0   7.0    MSIS
5       Jenny   8.0   NaN     NaN
6        John   NaN  10.0    MSIS
7        Luci   7.0   7.0    MSIS
8       Mercy   5.0   6.0    MSIS
9     Michael   6.0  10.0     MBA
10     Shelby   1.0  10.0    MSIS

By the default, the index is 0, 1, ...

Let us set the index as the column "Name".

In [4]:
df.set_index("Name", inplace=True)

In [5]:
df

            hw1   hw2 program
Name
Demetria    2.0   4.0    MSIS
Dorian     10.0  10.0    MSIS
Garland     9.0   1.0    MSIS
Iluminada   2.0   NaN     MBA
Jeannine    6.0   7.0    MSIS
Jenny       8.0   NaN     NaN
John        NaN  10.0    MSIS
Luci        7.0   7.0    MSIS
Mercy       5.0   6.0    MSIS
Michael     6.0  10.0     MBA
Shelby      1.0  10.0    MSIS

## index, columns, values

<b>index</b> returns the index labels

In [6]:
df.index

Index([u'Demetria', u'Dorian', u'Garland', u'Iluminada', u'Jeannine', u'Jenny',
       u'John', u'Luci', u'Mercy', u'Michael', u'Shelby'],
      dtype='object', name=u'Name')

In [7]:
df.index[2]

'Garland'

<b>columns</b> returns the list of column names (as an index object)

In [8]:
df.columns

Index([u'hw1', u'hw2', u'program'], dtype='object')

<b>values</b> returns a (2-dimensional) ndarray of values

In [9]:
df.values

array([[2.0, 4.0, 'MSIS'],
       [10.0, 10.0, 'MSIS'],
       [9.0, 1.0, 'MSIS'],
       [2.0, nan, 'MBA'],
       [6.0, 7.0, 'MSIS'],
       [8.0, nan, nan],
       [nan, 10.0, 'MSIS'],
       [7.0, 7.0, 'MSIS'],
       [5.0, 6.0, 'MSIS'],
       [6.0, 10.0, 'MBA'],
       [1.0, 10.0, 'MSIS']], dtype=object)

## df.ix[x, y]

Access using the index labels or the positional indices. 
<ul>
<li><b>x</b> is the information needed to select the rows: label index, positional index, range of index labels, range of integers, boolean masks</li>
<li><b>y (optional)</b> is the information needed to select the columns: label index, positional index, range of index labels, range of integers, boolean masks</li>
</ul>

Acccess one specific value by specifying index label and column name

In [10]:
df.ix['Garland','hw2']

1.0

Access one row by specifying index label

In [11]:
df.ix['Garland']

hw1           9
hw2           1
program    MSIS
Name: Garland, dtype: object

Access one row by specifying positional index

In [12]:
df.ix[2,:]

hw1           9
hw2           1
program    MSIS
Name: Garland, dtype: object

Access one column by specifyin index label

In [13]:
df.ix[:,'hw1']

Name
Demetria      2.0
Dorian       10.0
Garland       9.0
Iluminada     2.0
Jeannine      6.0
Jenny         8.0
John          NaN
Luci          7.0
Mercy         5.0
Michael       6.0
Shelby        1.0
Name: hw1, dtype: float64

Or, more simply:

In [14]:
df.hw1

Name
Demetria      2.0
Dorian       10.0
Garland       9.0
Iluminada     2.0
Jeannine      6.0
Jenny         8.0
John          NaN
Luci          7.0
Mercy         5.0
Michael       6.0
Shelby        1.0
Name: hw1, dtype: float64

In [15]:
df['hw1']

Name
Demetria      2.0
Dorian       10.0
Garland       9.0
Iluminada     2.0
Jeannine      6.0
Jenny         8.0
John          NaN
Luci          7.0
Mercy         5.0
Michael       6.0
Shelby        1.0
Name: hw1, dtype: float64

Access one column by specifying positional index of the column

In [16]:
df.ix[:,0]

Name
Demetria      2.0
Dorian       10.0
Garland       9.0
Iluminada     2.0
Jeannine      6.0
Jenny         8.0
John          NaN
Luci          7.0
Mercy         5.0
Michael       6.0
Shelby        1.0
Name: hw1, dtype: float64

Common mistake: get the whole row about Lucy

In [17]:
df['Luci']

KeyError: 'Luci'

In [18]:
# the correct way
df.ix['Luci',:]

hw1           7
hw2           7
program    MSIS
Name: Luci, dtype: object

Access a subset of rows and of columns

In [19]:
df.ix[:5,-2:]

            hw2 program
Name
Demetria    4.0    MSIS
Dorian     10.0    MSIS
Garland     1.0    MSIS
Iluminada   NaN     MBA
Jeannine    7.0    MSIS

Select those students whose name starts with 'J'

In [20]:
mask = (df.index >= 'J') & (df.index < 'K')
mask

array([False, False, False, False,  True,  True,  True, False, False,
       False, False], dtype=bool)

In [21]:
df.ix[mask,:]

          hw1   hw2 program
Name
Jeannine  6.0   7.0    MSIS
Jenny     8.0   NaN     NaN
John      NaN  10.0    MSIS

## Problems

#### Retrieve Shelby's hw1 grade

In [22]:
df.ix['Shelby','hw1']

1.0

#### Retrieve Shelby's information

In [23]:
df.ix['Shelby',:]

hw1           1
hw2          10
program    MSIS
Name: Shelby, dtype: object

#### Who obtained the highest grade in hw2? Note that there are ties

In [24]:
df.ix[:,'hw2'].nlargest(1)

Name
Dorian    10.0
Name: hw2, dtype: float64

Because of the ties, we need to this:

In [25]:
# first, find the series of hw2 grades
df.hw2

Name
Demetria      4.0
Dorian       10.0
Garland       1.0
Iluminada     NaN
Jeannine      7.0
Jenny         NaN
John         10.0
Luci          7.0
Mercy         6.0
Michael      10.0
Shelby       10.0
Name: hw2, dtype: float64

In [26]:
# second, get the max value
df.hw2.max()

10.0

In [27]:
# third, create a mask that selects whom has the max grade
mask = df.hw2 == df.hw2.max()
mask

Name
Demetria     False
Dorian        True
Garland      False
Iluminada    False
Jeannine     False
Jenny        False
John          True
Luci         False
Mercy        False
Michael       True
Shelby        True
Name: hw2, dtype: bool

In [28]:
# fourth, use the mask to select a subset of entries
df.hw2[mask]

Name
Dorian     10.0
John       10.0
Michael    10.0
Shelby     10.0
Name: hw2, dtype: float64

All together

In [29]:
df.ix[df.hw2 == df.hw2.max()]

          hw1   hw2 program
Name
Dorian   10.0  10.0    MSIS
John      NaN  10.0    MSIS
Michael   6.0  10.0     MBA
Shelby    1.0  10.0    MSIS

#### Find those students who obtained the same score in hw1 and in hw2.

In [30]:
df.hw1

Name
Demetria      2.0
Dorian       10.0
Garland       9.0
Iluminada     2.0
Jeannine      6.0
Jenny         8.0
John          NaN
Luci          7.0
Mercy         5.0
Michael       6.0
Shelby        1.0
Name: hw1, dtype: float64

In [31]:
df.hw2

Name
Demetria      4.0
Dorian       10.0
Garland       1.0
Iluminada     NaN
Jeannine      7.0
Jenny         NaN
John         10.0
Luci          7.0
Mercy         6.0
Michael      10.0
Shelby       10.0
Name: hw2, dtype: float64

In [32]:
df.hw1 == df.hw2

Name
Demetria     False
Dorian        True
Garland      False
Iluminada    False
Jeannine     False
Jenny        False
John         False
Luci          True
Mercy        False
Michael      False
Shelby       False
dtype: bool

In [33]:
df.ix[df.hw1 == df.hw2,:]

         hw1   hw2 program
Name
Dorian  10.0  10.0    MSIS
Luci     7.0   7.0    MSIS

#### Find the average hw1 score of those students who got a hw2 score greater than 5.

Make the filter on the rows: select the rows where hw2 > 5

In [34]:
df.hw2 > 5

Name
Demetria     False
Dorian        True
Garland      False
Iluminada    False
Jeannine      True
Jenny        False
John          True
Luci          True
Mercy         True
Michael       True
Shelby        True
Name: hw2, dtype: bool

Apply the filter and retrieve only hw1

In [35]:
df.ix[df.hw2 > 5,'hw1']

Name
Dorian      10.0
Jeannine     6.0
John         NaN
Luci         7.0
Mercy        5.0
Michael      6.0
Shelby       1.0
Name: hw1, dtype: float64

Compute the mean of the hw1 grade obtained by the students who got >5 in hw2

In [36]:
df.ix[df.hw2 > 5,'hw1'].mean()

5.833333333333333

## sort_values()

Sort the table based on the values of a set of columns (parameter <b>by</b>).

Sorting by one column

In [37]:
df.sort_values(by='hw1',ascending=False)

            hw1   hw2 program
Name
Dorian     10.0  10.0    MSIS
Garland     9.0   1.0    MSIS
Jenny       8.0   NaN     NaN
Luci        7.0   7.0    MSIS
Jeannine    6.0   7.0    MSIS
Michael     6.0  10.0     MBA
Mercy       5.0   6.0    MSIS
Demetria    2.0   4.0    MSIS
Iluminada   2.0   NaN     MBA
Shelby      1.0  10.0    MSIS
John        NaN  10.0    MSIS

Sorting by more columns. For example, by hw1 descending and, in case of ties, by hw2 ascending

In [38]:
df.sort_values(by=['hw1', 'hw2'], ascending=[False, True])

            hw1   hw2 program
Name
Dorian     10.0  10.0    MSIS
Garland     9.0   1.0    MSIS
Jenny       8.0   NaN     NaN
Luci        7.0   7.0    MSIS
Jeannine    6.0   7.0    MSIS
Michael     6.0  10.0     MBA
Mercy       5.0   6.0    MSIS
Demetria    2.0   4.0    MSIS
Iluminada   2.0   NaN     MBA
Shelby      1.0  10.0    MSIS
John        NaN  10.0    MSIS

## sort_index

In [39]:
df.sort_index()

            hw1   hw2 program
Name
Demetria    2.0   4.0    MSIS
Dorian     10.0  10.0    MSIS
Garland     9.0   1.0    MSIS
Iluminada   2.0   NaN     MBA
Jeannine    6.0   7.0    MSIS
Jenny       8.0   NaN     NaN
John        NaN  10.0    MSIS
Luci        7.0   7.0    MSIS
Mercy       5.0   6.0    MSIS
Michael     6.0  10.0     MBA
Shelby      1.0  10.0    MSIS

## head and tail

Returns the first (or last) n rows

In [40]:
df.head(4)

            hw1   hw2 program
Name
Demetria    2.0   4.0    MSIS
Dorian     10.0  10.0    MSIS
Garland     9.0   1.0    MSIS
Iluminada   2.0   NaN     MBA

In [41]:
df.tail(4)

         hw1   hw2 program
Name
Luci     7.0   7.0    MSIS
Mercy    5.0   6.0    MSIS
Michael  6.0  10.0     MBA
Shelby   1.0  10.0    MSIS

## Problems

#### Sort the MSIS students by hw2 descending.

Make the filter: select rows where program == 'MSIS'

In [42]:
df.program == 'MSIS'

Name
Demetria      True
Dorian        True
Garland       True
Iluminada    False
Jeannine      True
Jenny        False
John          True
Luci          True
Mercy         True
Michael      False
Shelby        True
Name: program, dtype: bool

Apply filter

In [43]:
df.ix[df.program == 'MSIS',:]

           hw1   hw2 program
Name
Demetria   2.0   4.0    MSIS
Dorian    10.0  10.0    MSIS
Garland    9.0   1.0    MSIS
Jeannine   6.0   7.0    MSIS
John       NaN  10.0    MSIS
Luci       7.0   7.0    MSIS
Mercy      5.0   6.0    MSIS
Shelby     1.0  10.0    MSIS

Sort resulting rows by hw2 descending

In [44]:
df.ix[df.program == 'MSIS',:].sort_values(by='hw2',ascending=False)

           hw1   hw2 program
Name
Dorian    10.0  10.0    MSIS
John       NaN  10.0    MSIS
Shelby     1.0  10.0    MSIS
Jeannine   6.0   7.0    MSIS
Luci       7.0   7.0    MSIS
Mercy      5.0   6.0    MSIS
Demetria   2.0   4.0    MSIS
Garland    9.0   1.0    MSIS

####  Show <b>only</b> the field <i>hw1</i> of the four students with the largest hw2 grade (do not use nlargest on the dataframe... it has bugs)

Find the four students with the largest hw2 grade. Step 1: sort everyone by hw2 descending

In [45]:
df.sort_values(by='hw2',ascending=False)

            hw1   hw2 program
Name
Dorian     10.0  10.0    MSIS
John        NaN  10.0    MSIS
Michael     6.0  10.0     MBA
Shelby      1.0  10.0    MSIS
Jeannine    6.0   7.0    MSIS
Luci        7.0   7.0    MSIS
Mercy       5.0   6.0    MSIS
Demetria    2.0   4.0    MSIS
Garland     9.0   1.0    MSIS
Iluminada   2.0   NaN     MBA
Jenny       8.0   NaN     NaN

Step 2: retain only the top 4 rows and the column 'hw1'

In [46]:
df.sort_values(by='hw2',ascending=False).ix[:4,'hw1']

Name
Dorian     10.0
John        NaN
Michael     6.0
Shelby      1.0
Name: hw1, dtype: float64

## mean, min, max, etc

Aggregate functions are broadcasted to all columns (axis = 0, which is the default) or rows (axis = 1). Numeric aggregators will be executed only on numeric data.

The average for each hw

In [47]:
df.mean()

hw1    5.600000
hw2    7.222222
dtype: float64

The average for each student

In [48]:
df.mean(axis=1)

Name
Demetria      3.0
Dorian       10.0
Garland       5.0
Iluminada     2.0
Jeannine      6.5
Jenny         8.0
John         10.0
Luci          7.0
Mercy         5.5
Michael       8.0
Shelby        5.5
dtype: float64

## Problems

#### Compute the spread (i.e., highest minus lowest hw grade) of each student

Compute the difference hw1-hw2 for each student

In [49]:
df.hw1 - df.hw2

Name
Demetria    -2.0
Dorian       0.0
Garland      8.0
Iluminada    NaN
Jeannine    -1.0
Jenny        NaN
John         NaN
Luci         0.0
Mercy       -1.0
Michael     -4.0
Shelby      -9.0
dtype: float64

Then, take the absolute value

In [50]:
(df.hw1 - df.hw2).abs()

Name
Demetria     2.0
Dorian       0.0
Garland      8.0
Iluminada    NaN
Jeannine     1.0
Jenny        NaN
John         NaN
Luci         0.0
Mercy        1.0
Michael      4.0
Shelby       9.0
dtype: float64

#### Who has the largest spread?

Find the largest of the series obtained in the previous step

In [51]:
((df.hw1 - df.hw2).abs()).nlargest(1)

Name
Shelby    9.0
dtype: float64