# Data Cleaning and Summary Statistics

In [2]:
# print all the outputs in a cell
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

import pandas as pd

Load the data of the survey taken by Data Science students.

In [3]:
df  = pd.read_csv('data science survey.csv')

In [4]:
df.head()

,Timestamp,Do you have a job?,How long ago did you get your Bachelor degree?,What program are enrolled in?,How would you rate your computer programming background?,Have you ever programmed in C?,Have you ever programmed in C++?,Have you ever programmed in C#?,Have you ever programmed in Java?,Have you ever programmed in Python?,Have you ever programmed in Javascript?,Have you ever programmed in R?,Have you ever programmed in SQL?,Have you ever used SAS?,Have you ever used Excel?,Have you ever used Tableau?,Have you ever run a regression?,"How familiar are you with the Machine Learning task called ""classification""?","How familiar are you with the Machine Learning task called ""clustering""?"
0,2017/01/09 2:48:20 PM MST,"No, I'm not working at the moment",longer than 1 year ago but less than 3 years ago,MSIS,4,Yes,Yes,No,Yes,Yes,Yes,No,Yes,No,Yes,No,Yes,4,4
1,2017/01/09 3:15:59 PM MST,"Yes, I have a part-time job",over 5 years ago,MSIS,3,Yes,Yes,No,Yes,No,No,No,Yes,No,Yes,No,No,2,2
2,2017/01/09 4:48:48 PM MST,"No, I'm not working at the moment",longer than 3 years ago but less than 5 years ago,MSIS,3,No,No,No,Yes,Yes,No,No,Yes,No,Yes,No,Yes,3,3
3,2017/01/09 4:48:51 PM MST,"No, I'm not working at the moment",over 5 years ago,MSIS,3,Yes,No,No,Yes,Yes,No,Yes,Yes,No,Yes,No,Yes,2,3
4,2017/01/09 4:50:03 PM MST,"No, I'm not working at the moment",longer than 3 years ago but less than 5 years ago,MSIS,3,Yes,No,No,Yes,Yes,No,No,Yes,No,Yes,No,No,1,1

We don't like this data set for a variety of reasons:
<ul>
<li>Columnn headers are too long
<li>Some cell values are too long
<li>Some cell values are yes/no, but we prefer 1/0
</ul>

## Cleaning

### Let's change some of the column names

In [5]:
df.columns = ['Timestamp',
             'Job',
             'BachTime',
             'Program',
             'ProgSkills',
             'C',
             'CPP',
             'CS',
             'Java',
             'Python',
             'JS',
             'R',
             'SQL',
             'SAS',
             'Excel',
             'Tableau',
             'Regression',
             'Classification',
             'Clustering']

In [6]:
df.head()

,Timestamp,Job,BachTime,Program,ProgSkills,C,CPP,CS,Java,Python,JS,R,SQL,SAS,Excel,Tableau,Regression,Classification,Clustering
0,2017/01/09 2:48:20 PM MST,"No, I'm not working at the moment",longer than 1 year ago but less than 3 years ago,MSIS,4,Yes,Yes,No,Yes,Yes,Yes,No,Yes,No,Yes,No,Yes,4,4
1,2017/01/09 3:15:59 PM MST,"Yes, I have a part-time job",over 5 years ago,MSIS,3,Yes,Yes,No,Yes,No,No,No,Yes,No,Yes,No,No,2,2
2,2017/01/09 4:48:48 PM MST,"No, I'm not working at the moment",longer than 3 years ago but less than 5 years ago,MSIS,3,No,No,No,Yes,Yes,No,No,Yes,No,Yes,No,Yes,3,3
3,2017/01/09 4:48:51 PM MST,"No, I'm not working at the moment",over 5 years ago,MSIS,3,Yes,No,No,Yes,Yes,No,Yes,Yes,No,Yes,No,Yes,2,3
4,2017/01/09 4:50:03 PM MST,"No, I'm not working at the moment",longer than 3 years ago but less than 5 years ago,MSIS,3,Yes,No,No,Yes,Yes,No,No,Yes,No,Yes,No,No,1,1

Now the column names look a lot better!


### Let's remove timestamps

Suppose that we don't need the timestamps. Here is how to remove a column

In [7]:
df.drop('Timestamp',axis=1,inplace=True)
#or
#df=df.drop('Timestamp',axis=1)

The argument <i>axis=1</i> is to indicate that we are removing a column, not a row.

In [8]:
df.head()

,Job,BachTime,Program,ProgSkills,C,CPP,CS,Java,Python,JS,R,SQL,SAS,Excel,Tableau,Regression,Classification,Clustering
0,"No, I'm not working at the moment",longer than 1 year ago but less than 3 years ago,MSIS,4,Yes,Yes,No,Yes,Yes,Yes,No,Yes,No,Yes,No,Yes,4,4
1,"Yes, I have a part-time job",over 5 years ago,MSIS,3,Yes,Yes,No,Yes,No,No,No,Yes,No,Yes,No,No,2,2
2,"No, I'm not working at the moment",longer than 3 years ago but less than 5 years ago,MSIS,3,No,No,No,Yes,Yes,No,No,Yes,No,Yes,No,Yes,3,3
3,"No, I'm not working at the moment",over 5 years ago,MSIS,3,Yes,No,No,Yes,Yes,No,Yes,Yes,No,Yes,No,Yes,2,3
4,"No, I'm not working at the moment",longer than 3 years ago but less than 5 years ago,MSIS,3,Yes,No,No,Yes,Yes,No,No,Yes,No,Yes,No,No,1,1

### Replace job with 0 (no job), 0.5 (part time), and 1 (full time)

<p>We want to replace the values of the column "Job", as follows:</p>
<p>
<ul>
<li><i>No, I'm not working at the moment</i> --> 0
<li><i>Yes, I have a part-time job</i> --> 0.5
<li><i>Yes, I have a full-time job</i> --> 1
</ul>
</p>
<p>
We will show three alternative solutions (1, 2, and 3) to perform this task. They will result in the creation of three columns (Job1, Job2, and Job3). At the end, we will delete the original column Job, we will delete two of these columns, and we will rename the remaining column "Job".
</p>

#### Solution 1 (column Job1)

Create a column 'Job1' through <i>df.ix</i>.

In [11]:
df.ix[df['Job'] == 'No, I\'m not working at the moment','Job1'] = 0

In [12]:
df.ix[df['Job'] == 'Yes, I have a part-time job','Job1'] = 0.5 #df.Job works as well

In [13]:
df.ix[df['Job'] == 'Yes, I have a full-time job','Job1'] = 1

#### Solution 2

Here, we will use the function <b>apply</b> on the column <i>Job</i>. The function "apply" requires as input a function that specifies how to transform each value. The function should perform the following transformations:
<ul>
<li>No, I'm not working at the moment => 0</li>
<li>Yes, I have a part-time job => 0.5</li>
<li>Yes, I have a full-time job => 1</li>
</ul>

In [15]:
def job2number (jobDescr):
    if jobDescr.startswith('No'):
        return 0
    elif 'part-time' in jobDescr:
        return 0.5
    else:
        return 1

In [19]:
df['Job2'] = df['Job'].apply(job2number)

#### Solution 3

Instead of declaring a function as above, we can pass a lambda (or anonymous) function

In [20]:
df['Job3'] = df['Job'].apply(lambda x : 0 if x.startswith('No') else 1 if 'full-time' in x else 0.5)

#### Finalize

The DataFrame has now the original column <i>Job</i> and three identical columns <i>Job1</i>, <i>Job2</i>, and <i>Job3</i>. We delete the original column <i>Job</i>, as well as <i>Job1</i> and <i>Job2</i>, and then we will rename the remaining column from <i>Job3</i> to <i>Job</i>.

In [23]:
df.drop(['Job', 'Job1', 'Job2'], axis=1, inplace=True)

In [25]:
df.rename_axis({'Job3' : 'Job'}, axis=1, inplace=True)

### Replace <i>BachTime</i> with a dummy variable

The time from graduation <i>BachTime</i> can have the following values:
<ul>
<li>less than 1 year ago</li>
<li>longer than 1 year ago but less than 3 years ago</li>
<li>longer than 3 years ago but less than 5 years ago</li>
<li>over 5 years ago</li>
</ul>

We want to conver the column BachTime to <i>dummy variables</i>, that is we want to create four columns ('Bach_0to1', 'Bach_1to3', 'Bach_3to5', 'Bach_5Plus') of which only one will be 1 and the others 0. These columns will indicate which is the duration of the time from the bachelor's degree.

The method <i>get_dummies</i> performs precisely this task. It transforms a column that contains $V$ unique values into $V$ new column (one for each value $v \in V$).

In [27]:
dumTime = pd.get_dummies(df,columns=['BachTime'])
dumTime.head()

,Program,ProgSkills,C,CPP,CS,Java,Python,JS,R,SQL,...,Excel,Tableau,Regression,Classification,Clustering,Job,BachTime_< 1 year ago,BachTime_longer than 1 year ago but less than 3 years ago,BachTime_longer than 3 years ago but less than 5 years ago,BachTime_over 5 years ago
0,MSIS,4,Yes,Yes,No,Yes,Yes,Yes,No,Yes,...,Yes,No,Yes,4,4,0.0,0,1,0,0
1,MSIS,3,Yes,Yes,No,Yes,No,No,No,Yes,...,Yes,No,No,2,2,0.5,0,0,0,1
2,MSIS,3,No,No,No,Yes,Yes,No,No,Yes,...,Yes,No,Yes,3,3,0.0,0,0,1,0
3,MSIS,3,Yes,No,No,Yes,Yes,No,Yes,Yes,...,Yes,No,Yes,2,3,0.0,0,0,0,1
4,MSIS,3,Yes,No,No,Yes,Yes,No,No,Yes,...,Yes,No,No,1,1,0.0,0,0,1,0

The column names generated by the method <i>get_dummies</i> are very wordy because they use the original cell contents. So, let us rename the columns

In [29]:
newCols = dumTime.columns.tolist()

In [30]:
newCols[-4:] = ['Bach_0to1', 'Bach_1to3', 'Bach_3to5', 'Bach_5Plus']

In [31]:
dumTime.columns = newCols

In [32]:
df = dumTime

In [33]:
df.head()

,Program,ProgSkills,C,CPP,CS,Java,Python,JS,R,SQL,...,Excel,Tableau,Regression,Classification,Clustering,Job,Bach_0to1,Bach_1to3,Bach_3to5,Bach_5Plus
0,MSIS,4,Yes,Yes,No,Yes,Yes,Yes,No,Yes,...,Yes,No,Yes,4,4,0.0,0,1,0,0
1,MSIS,3,Yes,Yes,No,Yes,No,No,No,Yes,...,Yes,No,No,2,2,0.5,0,0,0,1
2,MSIS,3,No,No,No,Yes,Yes,No,No,Yes,...,Yes,No,Yes,3,3,0.0,0,0,1,0
3,MSIS,3,Yes,No,No,Yes,Yes,No,Yes,Yes,...,Yes,No,Yes,2,3,0.0,0,0,0,1
4,MSIS,3,Yes,No,No,Yes,Yes,No,No,Yes,...,Yes,No,No,1,1,0.0,0,0,1,0

### Replace Yes with 1 and No with 0

Let us replace everywhere "Yes" with 1 and "No" with 0

In [34]:
df.replace('Yes', 1.0, inplace=True)

In [35]:
df.replace('No',0.0,inplace=True)

In [36]:
df.head()

,Program,ProgSkills,C,CPP,CS,Java,Python,JS,R,SQL,...,Excel,Tableau,Regression,Classification,Clustering,Job,Bach_0to1,Bach_1to3,Bach_3to5,Bach_5Plus
0,MSIS,4,1.0,1.0,0.0,1.0,1.0,1.0,0.0,1.0,...,1.0,0.0,1.0,4,4,0.0,0,1,0,0
1,MSIS,3,1.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,...,1.0,0.0,0.0,2,2,0.5,0,0,0,1
2,MSIS,3,0.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0,...,1.0,0.0,1.0,3,3,0.0,0,0,1,0
3,MSIS,3,1.0,0.0,0.0,1.0,1.0,0.0,1.0,1.0,...,1.0,0.0,1.0,2,3,0.0,0,0,0,1
4,MSIS,3,1.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0,...,1.0,0.0,0.0,1,1,0.0,0,0,1,0

### Adding simple columns

Let's add a column that counts how many programming languages students know. Languages = C+CPP+CS+Java+Python+JS+R+SQL+SAS

In [37]:
df['Languages'] = df.C+df.CPP+df.CS+df.Java+df.Python+df.JS+df.R+df.SQL + df.SAS

In [38]:
df.head()

,Program,ProgSkills,C,CPP,CS,Java,Python,JS,R,SQL,...,Tableau,Regression,Classification,Clustering,Job,Bach_0to1,Bach_1to3,Bach_3to5,Bach_5Plus,Languages
0,MSIS,4,1.0,1.0,0.0,1.0,1.0,1.0,0.0,1.0,...,0.0,1.0,4,4,0.0,0,1,0,0,6.0
1,MSIS,3,1.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,...,0.0,0.0,2,2,0.5,0,0,0,1,4.0
2,MSIS,3,0.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0,...,0.0,1.0,3,3,0.0,0,0,1,0,3.0
3,MSIS,3,1.0,0.0,0.0,1.0,1.0,0.0,1.0,1.0,...,0.0,1.0,2,3,0.0,0,0,0,1,5.0
4,MSIS,3,1.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0,...,0.0,0.0,1,1,0.0,0,0,1,0,4.0

To rearrange column order:<br/>
<b>reindex(columns=[the columns in the order that you want])</b>

### Adding complex columns (advanced topic)

Let's add a 0-1 column called "Expert" if <i>Languages</i> is 3 or more.

First, we need to define a function that given a row (i.e., a Series that represents a student) returns 1 if the student is and expert (and 0 otherwise). This row has index labels 'Job', 'BachTime, 'Program', etc)

In [39]:
def expertFunction(row):
    if row['Languages'] >= 3:
        return 1
    else:
        return 0

Second, we use the function <b>apply</b> with axis=1, which applies the function across columns and returns a Series:

In [40]:
df['Expert'] = df.apply(expertFunction, axis=1)

In [41]:
df.head()

,Program,ProgSkills,C,CPP,CS,Java,Python,JS,R,SQL,...,Regression,Classification,Clustering,Job,Bach_0to1,Bach_1to3,Bach_3to5,Bach_5Plus,Languages,Expert
0,MSIS,4,1.0,1.0,0.0,1.0,1.0,1.0,0.0,1.0,...,1.0,4,4,0.0,0,1,0,0,6.0,1
1,MSIS,3,1.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,...,0.0,2,2,0.5,0,0,0,1,4.0,1
2,MSIS,3,0.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0,...,1.0,3,3,0.0,0,0,1,0,3.0,1
3,MSIS,3,1.0,0.0,0.0,1.0,1.0,0.0,1.0,1.0,...,1.0,2,3,0.0,0,0,0,1,5.0,1
4,MSIS,3,1.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0,...,0.0,1,1,0.0,0,0,1,0,4.0,1

Alternatively, instead of defining a function with <i>def</i>, we can use a lambda function, which allows us to define the function "inline"

In [42]:
df['Expert'] = df.apply(lambda row: 1 if row['Languages'] >= 3 else 0, axis=1)

### Write it to a file

In [43]:
df.to_csv('cleaned_survey.csv')

## Problems

How many students know SQL?

In [44]:
df.SQL.sum()

51.0

What's the average programming skills of MSIS students? Compare it to that of MBA students

In [46]:
df.ix[df.Program == 'MSIS','ProgSkills'].mean()

3.0750000000000002

In [47]:
df.ix[df.Program == 'MBA','ProgSkills'].mean()

2.5

How many students know classification better than clustering? And how many clustering better than classification?

In [48]:
(df.Classification > df.Clustering).sum()

7

In [49]:
(df.Classification < df.Clustering).sum()

6

## Some Analysis

Summary statistics

In [50]:
df.describe()

,ProgSkills,C,CPP,CS,Java,Python,JS,R,SQL,SAS,...,Regression,Classification,Clustering,Job,Bach_0to1,Bach_1to3,Bach_3to5,Bach_5Plus,Languages,Expert
count,61.000000,61.000000,61.000000,60.000000,61.000000,60.000000,60.000000,60.000000,60.000000,60.000000,...,60.000000,61.000000,61.000000,61.000000,61.000000,61.000000,61.000000,61.000000,56.000000,61.000000
mean,2.852459,0.590164,0.442623,0.083333,0.737705,0.433333,0.383333,0.200000,0.850000,0.100000,...,0.516667,1.868852,1.836066,0.352459,0.032787,0.245902,0.262295,0.459016,3.785714,0.754098
std,0.980409,0.495885,0.500819,0.278718,0.443533,0.499717,0.490301,0.403376,0.360085,0.302532,...,0.503939,0.956999,0.986244,0.411747,0.179556,0.434194,0.443533,0.502453,1.744751,0.434194
min,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,...,0.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,3.000000,1.000000
50%,3.000000,1.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,1.000000,0.000000,...,1.000000,2.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,4.000000,1.000000
75%,3.000000,1.000000,1.000000,0.000000,1.000000,1.000000,1.000000,0.000000,1.000000,0.000000,...,1.000000,2.000000,2.000000,0.500000,0.000000,0.000000,1.000000,1.000000,5.000000,1.000000
max,5.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,5.000000,5.000000,1.000000,1.000000,1.000000,1.000000,1.000000,7.000000,1.000000

Correlation

In [51]:
df.corr()

,ProgSkills,C,CPP,CS,Java,Python,JS,R,SQL,SAS,...,Regression,Classification,Clustering,Job,Bach_0to1,Bach_1to3,Bach_3to5,Bach_5Plus,Languages,Expert
ProgSkills,1.000000,0.559183,0.440713,0.100473,0.522768,0.339692,0.241747,-0.221039,0.505797,0.057335,...,-0.113983,0.174432,0.146937,-0.137397,-0.161415,0.008344,0.013823,0.038271,0.689637,0.500636
C,0.559183,1.000000,0.541281,0.123091,0.336652,0.056851,-0.055978,-0.338062,0.307698,0.045361,...,-0.208587,0.095573,0.030727,-0.137830,0.153429,0.011421,0.042237,-0.101983,0.526305,0.375618
CPP,0.440713,0.541281,1.000000,0.212121,0.231244,-0.018100,0.251501,-0.269069,0.192336,-0.078170,...,-0.029165,-0.085510,-0.154333,-0.001325,0.021268,0.027642,-0.156213,0.106407,0.547554,0.278938
CS,0.100473,0.123091,0.212121,1.000000,0.174078,0.168023,0.268767,-0.145668,0.120517,-0.102383,...,0.055709,-0.084029,-0.128912,-0.031172,-0.055989,-0.034816,-0.181818,0.212121,0.355174,0.023762
Java,0.522768,0.336652,0.231244,0.174078,1.000000,0.147043,0.296870,-0.263822,0.485530,-0.064150,...,-0.356987,-0.082393,-0.061836,-0.261071,-0.099493,0.080869,0.186111,-0.198615,0.596253,0.524942
Python,0.339692,0.056851,-0.018100,0.168023,0.147043,1.000000,0.260878,0.163203,0.281636,-0.175032,...,0.196751,-0.018747,-0.003431,-0.026029,-0.162386,0.038837,0.005070,0.020282,0.503834,0.243865
JS,0.241747,-0.055978,0.251501,0.268767,0.296870,0.260878,1.000000,0.152753,0.242460,-0.148545,...,0.090723,-0.006238,-0.014507,0.054577,-0.146408,0.178122,-0.165371,0.044788,0.629300,0.272862
R,-0.221039,-0.338062,-0.269069,-0.145668,-0.263822,0.163203,0.152753,1.000000,-0.136963,0.126903,...,0.483602,0.236769,0.374065,0.182349,-0.092848,0.096225,-0.113067,0.050252,0.111712,-0.118217
SQL,0.505797,0.307698,0.192336,0.120517,0.485530,0.281636,0.242460,-0.136963,1.000000,0.129099,...,-0.120004,0.194014,0.030952,-0.145441,0.078008,0.026948,-0.063330,0.004691,0.628206,0.651109
SAS,0.057335,0.045361,-0.078170,-0.102383,-0.064150,-0.175032,-0.148545,0.126903,0.129099,1.000000,...,0.106467,0.121312,0.129313,0.062031,-0.061898,-0.064150,-0.075378,0.145172,0.111237,0.052541
Excel,-0.112476,-0.035378,0.050042,0.069171,-0.135613,-0.262347,-0.290978,-0.267652,-0.096374,0.076472,...,-0.068863,-0.111299,-0.038117,-0.174994,0.041873,-0.398272,0.135613,0.209493,-0.258809,-0.129871
Tableau,0.170276,0.062709,-0.003268,-0.101409,0.444037,0.047324,0.136048,-0.050252,0.276776,0.067267,...,-0.405591,-0.088361,-0.081868,-0.321969,-0.021268,0.125648,0.156213,-0.238872,0.179550,0.180933
Regression,-0.113983,-0.208587,-0.029165,0.055709,-0.356987,0.196751,0.090723,0.483602,-0.120004,0.106467,...,1.000000,0.162029,0.192240,0.377065,-0.006193,0.019256,-0.321791,0.271511,0.087101,-0.060455
Classification,0.174432,0.095573,-0.085510,-0.084029,-0.082393,-0.018747,-0.006238,0.236769,0.194014,0.121312,...,0.162029,1.000000,0.859764,0.076966,0.122433,0.078905,0.003862,-0.115347,0.102668,0.121645
Clustering,0.146937,0.030727,-0.154333,-0.128912,-0.061836,-0.003431,-0.014507,0.374065,0.030952,0.129313,...,0.192240,0.859764,1.000000,0.062573,-0.063258,0.017865,0.099938,-0.081051,0.107504,0.059976
Job,-0.137397,-0.137830,-0.001325,-0.031172,-0.261071,-0.026029,0.054577,0.182349,-0.145441,0.062031,...,0.377065,0.076966,0.062573,1.000000,-0.158912,-0.026745,-0.377767,0.413369,-0.036692,-0.206319
Bach_0to1,-0.161415,0.153429,0.021268,-0.055989,-0.099493,-0.162386,-0.146408,-0.092848,0.078008,-0.061898,...,-0.006193,0.122433,-0.063258,-0.158912,1.000000,-0.105137,-0.109785,-0.169594,-0.087450,0.105137
Bach_1to3,0.008344,0.011421,0.027642,-0.034816,0.080869,0.038837,0.178122,0.096225,0.026948,-0.064150,...,0.019256,0.078905,0.017865,-0.026745,-0.105137,1.000000,-0.340503,-0.526004,0.121601,-0.027536
Bach_3to5,0.013823,0.042237,-0.156213,-0.181818,0.186111,0.005070,-0.165371,-0.113067,-0.063330,-0.075378,...,-0.321791,0.003862,0.099938,-0.377767,-0.109785,-0.340503,1.000000,-0.549257,-0.104506,0.080869
Bach_5Plus,0.038271,-0.101983,0.106407,0.212121,-0.198615,0.020282,0.044788,0.050252,0.004691,0.145172,...,0.271511,-0.115347,-0.081051,0.413369,-0.169594,-0.526004,-0.549257,1.000000,0.019493,-0.085162
Languages,0.689637,0.526305,0.547554,0.355174,0.596253,0.503834,0.629300,0.111712,0.628206,0.111237,...,0.087101,0.102668,0.107504,-0.036692,-0.087450,0.121601,-0.104506,0.019493,1.000000,0.751168
Expert,0.500636,0.375618,0.278938,0.023762,0.524942,0.243865,0.272862,-0.118217,0.651109,0.052541,...,-0.060455,0.121645,0.059976,-0.206319,0.105137,-0.027536,0.080869,-0.085162,0.751168,1.000000

## Find the strongest correlations

What are the top 10 correlations and the top 10 anti-correlations?

To answer this question, we need to "stack" the result of <i>cor.stack()</i>, which means turning it into a Series with a "Hierarchical index" (that is, an index of two elements).

In [52]:
cor = df.corr()
cor.stack()

ProgSkills  ProgSkills        1.000000
            C                 0.559183
            CPP               0.440713
            CS                0.100473
            Java              0.522768
            Python            0.339692
            JS                0.241747
            R                -0.221039
            SQL               0.505797
            SAS               0.057335
            Excel            -0.112476
            Tableau           0.170276
            Regression       -0.113983
            Classification    0.174432
            Clustering        0.146937
            Job              -0.137397
            Bach_0to1        -0.161415
            Bach_1to3         0.008344
            Bach_3to5         0.013823
            Bach_5Plus        0.038271
            Languages         0.689637
            Expert            0.500636
C           ProgSkills        0.559183
            C                 1.000000
            CPP               0.541281
            CS                0.123091
            Java              0.336652
            Python            0.056851
            JS               -0.055978
            R                -0.338062
                                ...
Languages   Clustering        0.107504
            Job              -0.036692
            Bach_0to1        -0.087450
            Bach_1to3         0.121601
            Bach_3to5        -0.104506
            Bach_5Plus        0.019493
            Languages         1.000000
            Expert            0.751168
Expert      ProgSkills        0.500636
            C                 0.375618
            CPP               0.278938
            CS                0.023762
            Java              0.524942
            Python            0.243865
            JS                0.272862
            R                -0.118217
            SQL               0.651109
            SAS               0.052541
            Excel            -0.129871
            Tableau           0.180933
            Regression       -0.060455
            Classification    0.121645
            Clustering        0.059976
            Job              -0.206319
            Bach_0to1         0.105137
            Bach_1to3        -0.027536
            Bach_3to5         0.080869
            Bach_5Plus       -0.085162
            Languages         0.751168
            Expert            1.000000
dtype: float64

Remove the correlations equal to 1 (they are self correlations); then, pick one correlation every two (as they all appear twice)

In [53]:
cor[cor<1].stack().nlargest(20)[::2]

Classification  Clustering    0.859764
Languages       Expert        0.751168
ProgSkills      Languages     0.689637
SQL             Expert        0.651109
JS              Languages     0.629300
SQL             Languages     0.628206
Java            Languages     0.596253
ProgSkills      C             0.559183
CPP             Languages     0.547554
C               CPP           0.541281
dtype: float64

Do the same for negative correlations

In [54]:
cor[cor<1].stack().nsmallest(20)[::2]

Bach_3to5   Bach_5Plus   -0.549257
Bach_1to3   Bach_5Plus   -0.526004
Tableau     Regression   -0.405591
Excel       Bach_1to3    -0.398272
Job         Bach_3to5    -0.377767
Java        Regression   -0.356987
Bach_1to3   Bach_3to5    -0.340503
C           R            -0.338062
Tableau     Job          -0.321969
Regression  Bach_3to5    -0.321791
dtype: float64